<div class="panel panel-default">
  <header>
    <h1>Edit user</h1>
  </header>
  <div class="button-edit">
    <a (click)="onEdit()" mat-button mat-raised-button color="accent"><span> Edit </span> </a>
  </div>
  <mat-card>
    <div class="user">
      <div>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput [(ngModel)]="user.login" autocomplete="off" required disabled />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="user.name" autocomplete="off" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Example@mail.ru"
            [(ngModel)]="user.email"
            autocomplete="off"
            required
            #email="ngModel"
            pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="roles">
      <mat-list *ngIf="user.roles.length > 0">
        <mat-label>Chosen Roles</mat-label>
        <mat-list-item *ngFor="let role of user.roles">
          <span class="chosen-role">
            {{ role }}
          </span>
          <span class="recipient-button-delete">
            <img (click)="onRoleDelete(role)" src="assets/images/cancel.png" class="img-cancel" title="Delete" />
          </span>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="roles.length > 0">
        <mat-label>Roles</mat-label>
        <mat-list-item>
          <span class="role-add">
            <mat-select placeholder="Add role">
              <mat-option *ngFor="let role of roles" (click)="onRoleAdd(role)">
                {{ role }}
              </mat-option>
            </mat-select>
          </span>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="clear"></div>
  </mat-card>
</div>
