<div class="error-container">
  <div *ngIf="data?.error">
    <h1>Ошибка {{ data?.error }}</h1>
    <h5 *ngIf="data?.error === 404">Не найдено :(</h5>
    <a mat-raised-button class="mat-raised-button" [routerLink]="'/'">
      <h5>Перейти на главную</h5>
    </a>
  </div>

  <div *ngIf="routeParams.message">
    <h1 *ngIf="routeParams?.status">ERROR {{ routeParams?.status }}</h1>
    <br />
    <h3 *ngIf="routeParams?.message">{{ routeParams?.message }}</h3>
    <br />
    <h1 *ngIf="routeParams?.url && routeParams?.url !== '/'">
      Ошибка на {{ routeParams?.url | uppercase }} странице, извините :(
    </h1>

    <a
      mat-raised-button
      class="mat-raised-button"
      [routerLink]="routeParams?.url"
      *ngIf="routeParams?.url && routeParams.status !== '404'"
    >
      Вернуться назад {{ routeParams?.url }}
    </a>
    <a
      mat-raised-button
      class="mat-raised-button"
      routerLink="/"
      *ngIf="!routeParams.url || routeParams.status === '404'"
    >
      <h5>Перейти на главную</h5>
    </a>
  </div>

  <div *ngIf="!routeParams && !data">
    <h1>Неизвестная ошибка, извините :(</h1>
    <a mat-raised-button class="mat-raised-button" [routerLink]="'/login'">
      <h5>Перейти на главную</h5>
    </a>
  </div>
</div>
