.panel {
  padding-top: 53px;
}

header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: #3f51b5;
  height: 70px;
}

h1 {
  font-weight: 300;
  margin: 0;
  padding-left: 23px;
  font-size: 20px;
  color: white;
}

.button-create {
  padding: 10px 0px 10px 100px;
}

mat-card {
  margin: 0px 50px 50px 50px;
  padding: 25px;
  background-color: #fafafa;
}

mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
}

.note {
  margin: 0px;
  padding: 10px;
  width: 100%;
}

.user {
  float: left;
  width: 30%;
}

.roles {
  padding-left: 100px;
  float: left;
  width: 30%;
}

.role-add {
  min-width: 100%;
}

.chosen-role {
  min-width: 97.5%;
}

.clear {
  clear: both;
}
