<div class="panel panel-default">
  <header>
    <h1>Create user</h1>
  </header>
  <div class="button-create">
    <a (click)="onCreate()" mat-button mat-raised-button color="accent"><span> Create </span> </a>
  </div>
  <mat-card>
    <div class="user">
      <div>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput [(ngModel)]="user.login" autocomplete="off" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="user.name" autocomplete="off" required />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Example@mail.ru"
            [(ngModel)]="user.email"
            autocomplete="off"
            required
            #email="ngModel"
            pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
          />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            [(ngModel)]="user.password"
            #password="ngModel"
            required
            minlength="8"
            maxlength="18"
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z\d]{8,18}"
          />
          <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
            <strong>Password is incorrect</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="input-form">
        <mat-form-field class="login-input">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            matInput
            [(ngModel)]="user.confirmPassword"
            #confirmpassword="ngModel"
            required
            minlength="8"
            maxlength="18"
            pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)[A-Za-z\d]{8,18}"
          />
          <mat-error *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)">
            <strong>Confirm password is incorrect</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-card class="note">
        <strong>
          <p>
            Password does not matches: <br />a minimum of 1 upper case letter [A-Z] <br />a minimum of 1 lower case
            letter [a-z] <br />a minimum of 1 numeric character <br />passwords must be at least 8 characters in length
          </p>
        </strong>
      </mat-card>
    </div>
    <div class="roles">
      <mat-list *ngIf="chosenRoles.length > 0">
        <mat-label>Chosen Roles</mat-label>
        <mat-list-item *ngFor="let role of chosenRoles">
          <span class="chosen-role">
            {{ role }}
          </span>
          <span class="recipient-button-delete">
            <img (click)="onRoleDelete(role)" src="assets/images/cancel.png" class="img-cancel" title="Delete" />
          </span>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
      <mat-list *ngIf="roles.length > 0">
        <mat-label>Roles</mat-label>
        <mat-list-item>
          <span class="role-add">
            <mat-select placeholder="Add role">
              <mat-option *ngFor="let role of roles" (click)="onRoleAdd(role)">
                {{ role }}
              </mat-option>
            </mat-select>
          </span>
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="clear"></div>
  </mat-card>
</div>
