<div class="panel panel-default">
  <header>
    <h1>Users</h1>
  </header>
  <div class="button-create">
    <a (click)="onCreate()" mat-button mat-raised-button color="accent"><span> Create user </span> </a>
  </div>

  <div class="table-container">
    <table mat-table #table [dataSource]="usersDS">
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef>Login</th>
        <td mat-cell *matCellDef="let row" class="td-login">
          <div class="mat-cell-text-ellipsis">{{ row.login }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row" class="td-name">
          <div class="mat-cell-text-ellipsis">{{ row.name }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let row" class="td-roles">
          <div class="mat-cell-text-ellipsis">{{ row.roles }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row" class="td-action">
          <span>
            <img (click)="onSelectRow(row.id)" src="assets/images/edit-16.png" class="img-edit" title="View" />
            <img (click)="onDelete(row.id)" src="assets/images/cancel.png" class="img-cancel" title="Delete" />
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (dblclick)="onSelectRow(row.id)"
        class="element-row"
      ></tr>
    </table>
  </div>
</div>
