.panel {
  padding-top: 53px;
}

header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: #3f51b5;
  height: 70px;
}

h1 {
  font-weight: 300;
  margin: 0;
  padding-left: 23px;
  font-size: 20px;
  color: white;
}

.button-create {
  padding: 10px 0px 10px 100px;
}

.table-container {
  padding: 0px 50px 50px 50px;
}

table {
  width: 100%;
}

.td-login {
  width: 20%;
}

.td-name {
  width: 20%;
}

.td-roles {
  width: 50%;
}

.td-action {
  width: 10%;
}

.img-edit {
  padding: 5px;
}

.img-cancel {
  padding: 5px;
}
