.panel {
  border: initial !important;
  padding-top: 53px;
}

header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: #3f51b5;
  height: 70px;
}

h1 {
  font-weight: 300;
  margin: 0;
  padding-left: 23px;
  font-size: 20px;
  color: white;
}

.button-edit {
  padding: 10px 0px 10px 100px;
}

mat-card {
  margin: 0px 50px 50px 50px;
  padding: 25px;
  background-color: #fafafa;
}

.full-width-input {
  width: 20%;
}
