<div class="panel panel-default">
  <header>
    <h1>User</h1>
  </header>
  <div class="button-edit">
    <a (click)="onEdit(user.id)" mat-button mat-raised-button color="accent"><span> Edit user </span> </a>
  </div>
  <mat-card>
    <div>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="user.login" required disabled />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="user.name" required disabled />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="user.email" required disabled />
      </mat-form-field>
    </div>
    <div>
      <mat-list *ngIf="user.roles.length > 0">
        <mat-label>Roles</mat-label>
        <mat-list-item *ngFor="let role of user.roles">
          {{ role }}
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
