<nav class="app-nav">
  <a href="/" mat-button>
    <span>
      <img src="assets/images/logo.png" class="logo" />
      <span class="span-title">
        ClientApp
      </span>
    </span>
  </a>
</nav>
<router-outlet></router-outlet>
