.app-nav {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #3f51b5;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.logo {
  height: 26px;
  margin: 0 4px 3px 0;
}

.span-title {
  font-size: 14px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
